.icn:hover {
    color: #4ECDC4;
}

.btn:hover {
    @apply text-blue-300
}

.btn {
    @apply cursor-pointer;
}

.g-btn {
    background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
}

.g-btn:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.g-btn-2 {
    background-image: linear-gradient(to right, #1A535C 0%, #2eacb5 51%, #4ECDC4 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #F7FFF7;
    border-radius: 10px;
    display: block;
}

.g-btn-2:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}